@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

body {
    margin: 0 auto;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-width:100%;
    background-position: center;
    background-size: contain;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background-color: #fff;
    color: #000;

}
.mainbody{
    margin-left: 20%;
    margin-right: 20%;
}


.titleimg{
    position: absolute;
    left: 50%;
    margin-top: 20%;
    margin-left: -350px;
    width:100%;
    max-width: 700px;
    -webkit-animation-duration: 10s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
     0% {opacity: 0;}
    100% {opacity: 1;}
}
         
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
       
@media screen and (min-width:300px) and (max-width:700px) {
    .titleimg{
        position: absolute;
        left: 50%;
        margin-top: 40%;
        margin-left: -150px;
        width:100%;
        max-width: 300px;
        -webkit-animation-duration: 10s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .mainbody{
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (min-width:10px) and (max-width:300px) {
    .titleimg{
        position: absolute;
        left: 50%;
        margin-top: 60%;
        margin-left: -50px;
        width:100%;
        max-width: 100px;
        -webkit-animation-duration: 10s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .mainbody{
        margin-left: 0%;
        margin-right: 0%;
    }
}

.centerimages{
    text-align: center;

}
.rocket{
    width: 100%;
    max-width: 80px;
    margin-top: 25%;
    margin-left: 21%;
    

}   
.cloud1{
    width: 100%;
    max-width: 500px;    
    padding-top: 70%;
    margin-right: -10px;
     
}  
.cloud2{
    width: 100%;
    max-width: 400px;  
    padding-top: 75%;  
    margin-left: 10px;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.column {
    float: left;
    width: 50%;
    
}
.leftr{
    width: 85%;
}
.rightr {
    width: 15%;
}
@media screen and (max-width: 900px) {

    


}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;


}


html, body {
    height: 100%;
}

.sect {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.subSection {
    height: 5%;
    size: fixed;
}

.sectOne {
    background-image: url("../img/mttop.jpg");
    
}

.sectTwo {
    background-image: url("../img/oppbot.jpg");
}

.sectThree{
    background-image: url("../img/oppbot.jpg");

}

.centerpic{
    width: 100%;

}
.aboutpic{
    float:right;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
}


.aboutext{
    margin-top: 90px;
    margin-bottom: 30px;
}
.aboutheader{
    margin-top: 175px;
}


.linksconnect{
    list-style: none;
    margin: 30px 100px 30px 100px;
}

.linkssconnect {
    margin: 30px 100px 10px 100px;
}
.linkssconnectabout {
    margin: 0px 100px 5px 10px;
}

.bodyhome{
    margin-top: 70px;
    margin:10%;
}

.sect2img{
    width: 100%;
    margin: center;
}

.ben{
    float: right;
    margin-right: 30px;
    margin-left: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 



footer {
    width: 100%;
    margin: center;
    text-align: center;
    display: inline-block;
    background-color: #fff;
}


/*---make a basic box ---*/
h1, h2, h3, h4,h5, h6{
    margin-top: 20px;


}
p{
    margin-top: 5px;

}






.footerimages{
    width: 40px;
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footerimages:hover{
    padding-top: 8px;
    padding-bottom: 12px;
    
}
.bodytext{
    margin-right: 50%;
}


.button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #fff;
    text-align: center;
    transition: background-color .5s, color .5s, border .5s;
    cursor: pointer;
    
}

.button:hover{
    color: #ddd;
    border: 1.5px solid #ddd;

}

.buttonadjust{
    text-align: center;
}
.blockpics{
    width:100%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hovereffect {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}
.text {
  background-color: #eee;
  color: black;
  font-size: 16px;
  padding: 16px 32px;

}
.text:hover{
    background-color: #ddd;
}
.container{
    position: relative;
}
.container:hover .blockpics {

  opacity: 0.3;
  color: #000;
}

.container:hover .hovereffect {
  opacity: 1;
}

.left{
    width: 33%;
}
.middle{
    width: 33%;
}
.right{
    width: 33%;
}
.biopic{
    padding-top: 20px;
    width:100%;
    max-width: 400px;


}

.biocolumn {
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.gitpic{
    width:100%;
    max-width: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.gitpic:hover{
    opacity: 0.7;
    max-width: 41px;
    padding-bottom: 14px;
}
.blocktitle{
    padding-bottom: 20px;
}
.captitle{
    padding-top: 60px;
}
.caps{
    color: #000;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}
.spacetoph1{
    padding-top: 110px
}
.listcaps{
    padding-top: 20px; 
    color: #000;
}

.listcaps:hover{
    color:#777;
}


