@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');


/*CSS reset*/
html, body, div, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.content{
    width: 100%;
}

a{
    text-decoration: none;
    color: 01579B;
}

a:hover{
    color: 0197CB;
    transition: color .2s ease;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    background-color: #f1f3f3;
    line-height: 2.0;
}

nav{
    background-color: #191919;
    width: 100%;
    height: 60px;
    opacity: .9;

    top: -60px;
    z-index:1;
    margin: 0px;
    position: fixed;
    transition: top 0.3s;
}

.navUL{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 60px;
    position: fixed;
    z-index: 10;
    right: 30px;
}

.navElem{
    color: #FFF;
    height: 100%;
    float: right;    
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
}


/* base class for parallax scrolling elements */
.parallax{
    position: relative;
    height: 100%;
    margin: 0px;
    width: 100%;

    color: #ECEFF1;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

/*background for non-parallax content blocks*/
.contentBack{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 14em;
    padding-right: 14em;
    /*background-color: #ECEFF1;*/
    background-color: #f1f3f3;
    font-size: 20px;
    line-height: 2.0;
    color: #0d2a30;
}

.parallaxTitle{
    font-family: 'Raleway', sans-serif;
    padding-top: 15%;
    line-height: 0.7;
    margin: 0px;
    font-size: 50px;
    text-align: center;
    z-index: 10;
}
.parallaxSubtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    z-index: 10;
}

.footer{
    height: 3em;
    font-size: 16px;
    line-height: 0.8;
    padding: 2em;
}



.contact{
    font-size: 25px;
    width: 150px;
    height: 50px;
    color: #0F0F0F;
    background-color: #ECEFF1;
    margin: 0 auto;
    text-align: center;
}

/*contact form*/

.formWrapper{
    margin: 0 auto;
    max-width: 450px;
}

#contactForm{

}

.field{
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: #0d2a30;
    box-sizing: border-box;
    border-radius: 0;
    cursor: text;
    border: 2px solid #0d2a30;
    margin: 3px;
}

/*name*/
#field1{
    width: 194px;
    height: 35px;
}

/*email*/
#field2{
    width: 194px;
    height: 35px;
}

/*message*/
#field3{
    font-family: 'Arial', 'Helvetica', sans-serif;
    width: 400px;
    height: 200px;
}

#contactField{
    margin: 3px;
    background-color: #0d2a30;
    border: none;
    color: f1f3f3;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    
    width: 400px;
    height: 45px;
    transition: background .3s ease;
}

#contactField:hover{
    background-color: #1d3a40;
}


/*/contact form*/

.btn{
    font-size: 20px;
    width: 130px;
    height: 50px;
    color: #0F0F0F;
    background-color: #ECEFF1;
    
    /*center element*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hover-right{
    /*configure animation*/
    transform: perspective(1px) translateZ(0);
    transition-property: color;
    transition-duration: 0.2s;
    cursor: pointer;
}
.hover-right:before {
    content: ""; /*don't change href*/
    z-index: -1; /*keep transition*/
    position: absolute;
    
    /*default positioning*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4FC3F7;/*transition color*/

    /*configure animation*/
    transform: scaleX(0);
    /*offsets*/
    transform-origin: 0 50%;
    transition-property: transform;
    
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.hover-right:hover, .hover-right:focus, .hover-right:active {
    color: #FFF;
}
.hover-right:hover:before, .hover-right:focus:before, .hover-right:active:before {
    transform: scaleX(1);
}

.canvasHolder{
    width: 500x;
    height: 400px;

}

.right-float{
    position: fixed;
    Bottom: 3em;
    right: 2em;
}

.active{
    background: #4FC3F7;
    border-radius: 5px;
    transition: background .2s ease;
}

.navElem:hover{
    color: #ABDEE0;
    cursor: pointer;
    /*background-color: #000;*/
    transition: color .2s ease;
}

.logo{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 30px;
    font-size: 30px;
}

p b{
    font-weight: 800;
}

h2{
    margin-bottom: 0;
}

hr{
    border-top: 1px solid #0d2a30;
    border-bottom: 1px solid #d8e0e0;
}

/*make the hr slightly smaller*/
.hrWrapper{
    width: 98%;
    margin: 0 auto;
}

/*reduce load time on external fonts by using built in one with italics*/
.italics{
    font-family: 'Helvetica', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.3;
}

/*jump location, hidden is to stop the footer from being floated*/
#whoarewe{
    overflow: hidden;
}

.people{
    margin: 0 auto;
    max-width: 1200px;
}

.person{
    width: 300px;
    display: inline-block;
    margin: 15px;
    text-align: center;
}

.button{
    width: 30px;
    height: 30px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    float: center;
}

.person > p{
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 1.3;
}

.person > img{
    width: 200px;
}

.role{
    line-height: 1;
    padding: 0;
}

#logo{
    opacity: 1;
    position: fixed;
    left: 20px;
    top: 10px;
    width: 50px;
    z-index: 10;
}
 
.technologies{
    margin: 0 auto;
}

.technology{
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 5%;
}

.techImg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.techOverlay{
    position: absolute;
    top: 0;
    left: 0;
    
      
    background-color: #f1f3f3;
    opacity: 0;
    transition: .3s ease;
    width: 100%;
    height: 100%;
}

.technology:hover .techOverlay{
    opacity: 1;
}


.techOverlay > p{
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*clear existing float property*/
.clear {
    clear: left;
    display: block;
}
