@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color: #f1f1f1;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

footer{
    position: relative;
    left: 10%;
    font-size: 15px;
    bottom: 45px;
}

.content{
    position: relative;
    max-width: 80%;
}

/*fullscreen section*/
.section{
    width: 100%;
    height: 100%;
}

/*fullscreen dark section*/
.darkSection{
    background-color: #161616;
    z-index: 1;
}

.headerImage{
    position: absolute;
    opacity: 0.03;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: fadeHeaderImg 2s;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*animations to fade in the header*/
@keyframes fadeHeaderImg{
    from { opacity: 0;    }
    to   { opacity: 0.03; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*header text*/
#namedHeader{
    color: #f1f1f1;
    font-size: 45px;
    position: relative;
    top: 50%;
    left: 10%;
    animation: fadein 4s;
}

#namedSubheader{
    color: #f1f1f1;
    font-size: 30px;
    position: relative;
    top: 50%;
    left: 20%;
    animation: fadein 4s;
}

#technologies{
    margin: auto;
    margin-top: 75px;
    text-align: center;
    max-width: 600px;
    
}

.technology{
    display: inline-block;
    margin: 45px;
}

.techDescription{
    width: 200px;
    padding-bottom: 10px;
}

.button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: #f1f1f1;
    color: #161616;
    border: 2px solid #0D2A30;
    text-align: center;
    transition: background-color .2s, color .2s;
    cursor: pointer;
}

/*special section because it has those buttons*/
#section2{
    height: auto;
    min-height: 100% !important;
}

.button:hover{
    background-color: #161616;
    color: #f1f1f1;
}

.sectionTitle{
    position: relative;
    font-size: 30px;
    left: 40px;
    top: 40px;
}


/*contact form*/

.formWrapper{
    margin: auto;
    margin-top: 150px;
    max-width: 450px;
}


.field{
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: #0d2a30;
    box-sizing: border-box;
    border-radius: 0;
    cursor: text;
    border: 2px solid #0d2a30;
    margin: 3px;
}

/*name*/
#field1{
    width: 194px;
    height: 35px;
}

/*email*/
#field2{
    width: 194px;
    height: 35px;
}

/*message*/
#field3{
    font-family: 'Arial', 'Helvetica', sans-serif;
    width: 400px;
    height: 200px;
}


#contactField{
    text-decoration: none;
    cursor: pointer;
    line-height: 45px;
    width: 400px;
    height: 45px;
}


input, textarea{
    /*give the placeholder padding*/
    text-indent: 5px;
}
